In [ ]:
AKIATZIDTXBNSQBZ2PMD

cskyfVWPDFw6epFFyVB8tb5YwgqaH9HNo7pgdf+/

In [54]:
from __future__ import print_function
import csv
import pandas as pd
import time
import json

In [55]:
data=pd.read_csv('/Users/xxzkbxx/Desktop/yelp.csv')

In [56]:
data=data.drop_duplicates(subset=['Business_ID'])
data.reset_index(drop = True)

,Business_ID,Name,Address,Coordinates,Num_of_Reviews,Rating,Zip_Code,Cuisine
0,XsXLVWr1UZWVhKThNvNiaA,Blue Willow 夜来湘,40 W 56th St,"{'latitude': 40.76292, 'longitude': -73.976546}",798,4.5,10019,chinese
1,BNaveJmi-OUGKG9sRfrIhA,Mr. Sun,48 W 48th St,"{'latitude': 40.75809, 'longitude': -73.98026}",188,4.5,10036,chinese
2,HduEOz0RSK91GDr8EoxELw,Shun Lee - 98th ST,2596 Broadway,"{'latitude': 40.79576833206957, 'longitude': -...",4,5.0,10025,chinese
3,EmJ7rfmv2y6lQZxgA8U__g,Red Peony Chinese Cuisine,24 W 56th St,"{'latitude': 40.76278, 'longitude': -73.97589}",545,4.0,10019,chinese
4,bVkjBJlAIwKAj9Aw1KVWjA,Dim Sum Palace,334 W 46th St,"{'latitude': 40.76015, 'longitude': -73.9893699}",1632,4.0,10036,chinese
...,...,...,...,...,...,...,...,...
5040,2ua5kZUhVz25m7_iFOdwtQ,Yuki Hana Japanese Restaurant,375 Liberty St,"{'latitude': 40.855569, 'longitude': -74.042561}",260,3.5,7643,sushi
5041,3sQPGzWl0PMi2ULZ4DbEAg,Sushi Mambo,431 W 202nd St,"{'latitude': 40.86106, 'longitude': -73.92036}",291,3.0,10034,sushi
5042,G4qZvheX74VwYvek7I8iQg,Buntopia,994 Broadway,"{'latitude': 40.69598, 'longitude': -73.93398}",364,4.5,11221,sushi
5043,gEfsayvqWqI2KfCF43TJ_A,Port of Call,450 Hackensack Ave,"{'latitude': 40.9096827672378, 'longitude': -7...",996,4.0,7601,sushi
5044,bnCZgNyG9FRXRy7g2-rcMw,Yoshi Japanese cuisine,5827 Ave T,"{'latitude': 40.61572, 'longitude': -73.9180499}",109,4.0,11234,sushi

In [57]:
data.to_csv("/Users/xxzkbxx/Desktop/yelp.csv", index =False)

In [63]:
import boto3
import csv

In [64]:
# Get the service resource.
dynamodb = boto3.resource('dynamodb', region_name='us-east-1', aws_access_key_id='AKIATZIDTXBN5HMFSAWF', aws_secret_access_key='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')
# A low-level client representing Amazon DynamoDB
client = boto3.client('dynamodb', region_name='us-east-1')

In [65]:
table = dynamodb.Table('yelp')

In [66]:
print(table.item_count)

0

In [67]:
with table.batch_writer() as batch:
    with open('/Users/xxzkbxx/Desktop/yelp.csv', encoding='UTF-8') as csvfile:
        reader = csv.reader(csvfile)
        #['Business_ID', 'Name', 'Address', 'Coordinates', 'Num_of_Reviews', 'Rating', 'Zip_Code', 'Cuisine']
        for row in reader:
            try:
                batch.put_item(
                Item={
                    'insertedAtTimestamp': time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()),
                    'cuisine': row[7],
                    'Business_ID': row[0],
                    'Name': row[1],
                    'Address': row[2],
                    'Coordinates': row[3],
                    'Num_of_Reviews':row[4],
                    'Rating':row[5],
                    'Zip_Code':row[6]
                })
            except:
                print(row)